@import './../lib/vars';

.tooltip {
  height: 0;

  section {
    transform: translateY(-27px);
    position: relative;
    margin-bottom: 1vw;
    width: 100%;

    p {
      background: #fff;
      color: $color-error;
      font-weight: 700;
      display: inline-block;
      padding: 0.5vw;
      width: auto;
      border: 2px solid $color-error;
      border-radius: 4px;
      margin-left: 10px;
    }

    .caret-up {
      position: absolute;
      top: -10px;
      left: 20px;
      color: $color-error;
      height: 15px;
    }
  }
}
