/* .create__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
}

.garageSale_content {
    background: #9dda9838;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
} */
