.tooltip {
    height: 0;
}

.tooltip section {
    transform: translateY(-27px);
    position: relative;
    margin-bottom: 1vw;
    width: 100%;
}

.tooltip p {
    background: #FFF;
    color: #FF001F;
    font-weight: 700;
    display: inline-block;
    padding: .5vw;
    width: auto;
    border: 2px solid #FF001F;
    border-radius: 4px;
    margin-left: 10px;
}

.tooltip .caret-up {
    position: absolute;
    top: -10px;
    left: 20px;
    color: #FF001F;
    height: 15px;
}

.tooltip section {
    transform: translateY(-30px);
    margin-left: 26px;
}

.tooltip section {
    transform: translateY(-30px);
    margin-left: 10px;
}